<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zufe.mychat.dao.QzinvitesMapper">
  <resultMap id="BaseResultMap" type="com.zufe.mychat.bean.Qzinvites">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="qzid" jdbcType="VARCHAR" property="qzid" />
    <result column="sender" jdbcType="VARCHAR" property="sender" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="satus" jdbcType="BIT" property="satus" />
  </resultMap>

   <resultMap id="WithQzxxResultMap" type="com.zufe.mychat.bean.Qzinvites" >
  	 
  	 
     <id column="Id" jdbcType="INTEGER" property="id" />
   	 <result column="sender" jdbcType="VARCHAR" property="sender" />
   	  <result column="message" jdbcType="VARCHAR" property="message" />
    	  <result column="qzid" jdbcType="VARCHAR" property="qzid" />
   	 <!-- 指定联合查询 -->
   	 <association property="qzxx" javaType="com.zufe.mychat.bean.Qzxx">
   	 	<id column="qzid" jdbcType="VARCHAR" property="qzid" />
   	 	<result column="qzid" jdbcType="VARCHAR" property="qzid" />
   	 	<result column="qzname" jdbcType="VARCHAR" property="qzname" />
   	 </association>
   	 
   
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, qzid, sender, message, satus
  </sql>
  <select id="selectByExample" parameterType="com.zufe.mychat.bean.QzinvitesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from qzinvites
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qzinvites
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qzinvites
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zufe.mychat.bean.QzinvitesExample">
    delete from qzinvites
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zufe.mychat.bean.Qzinvites">
    insert into qzinvites (Id, qzid, sender, 
      message, satus)
    values (#{id,jdbcType=INTEGER}, #{qzid,jdbcType=VARCHAR}, #{sender,jdbcType=VARCHAR}, 
      #{message,jdbcType=VARCHAR}, #{satus,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.zufe.mychat.bean.Qzinvites">
    insert into qzinvites
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="qzid != null">
        qzid,
      </if>
      <if test="sender != null">
        sender,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="satus != null">
        satus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="qzid != null">
        #{qzid,jdbcType=VARCHAR},
      </if>
      <if test="sender != null">
        #{sender,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="satus != null">
        #{satus,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zufe.mychat.bean.QzinvitesExample" resultType="java.lang.Long">
    select count(*) from qzinvites
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <select id="selectQzusersByCreater"  parameterType="java.lang.String"  resultMap="WithQzxxResultMap">
  	 select qzinvites.sender ,qzinvites.message ,qzinvites.qzid ,qzxx.qzid,qzxx.qzname
  	 from qzinvites,qzxx where qzinvites.qzid=qzxx.qzid and qzxx.qzcreater=#{0} and qzinvites.satus=0
  	 
  	 
  	 
  	
  	 
  </select>	
  
  <update id="updateByExampleSelective" parameterType="map">
    update qzinvites
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.qzid != null">
        qzid = #{record.qzid,jdbcType=VARCHAR},
      </if>
      <if test="record.sender != null">
        sender = #{record.sender,jdbcType=VARCHAR},
      </if>
      <if test="record.message != null">
        message = #{record.message,jdbcType=VARCHAR},
      </if>
      <if test="record.satus != null">
        satus = #{record.satus,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update qzinvites
    set Id = #{record.id,jdbcType=INTEGER},
      qzid = #{record.qzid,jdbcType=VARCHAR},
      sender = #{record.sender,jdbcType=VARCHAR},
      message = #{record.message,jdbcType=VARCHAR},
      satus = #{record.satus,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zufe.mychat.bean.Qzinvites">
    update qzinvites
    <set>
      <if test="qzid != null">
        qzid = #{qzid,jdbcType=VARCHAR},
      </if>
      <if test="sender != null">
        sender = #{sender,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="satus != null">
        satus = #{satus,jdbcType=BIT},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zufe.mychat.bean.Qzinvites">
    update qzinvites
    set qzid = #{qzid,jdbcType=VARCHAR},
      sender = #{sender,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      satus = #{satus,jdbcType=BIT}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>